In [1]:
import pandas as pd
import os
import zipfile

## Input: a file directory consisting list of csv files (total 112 files), each file representing invidual block halfhourly data, 1 row represents one unique LCLid

## Output: A single excel file which concatenated all blocks (112) halfhourly data, each row representing invidual block & LCLid halfhourly data (1 row represents one unique LCLid in one block)

# Unzip dataset

In [2]:
destination_path = 'C:/Users/chiny/cjwen/ITI110/'
output = destination_path + 'Raw_data/halfhourly_dataset.zip'

In [3]:
with zipfile.ZipFile(output, 'r') as zip_ref:
    zip_ref.extractall(destination_path)

# Concatenate all blocks data

In [4]:
folder = destination_path + "halfhourly_dataset"

In [8]:
files_list = os.listdir(folder)

In [1]:
# for file in files_list: 
#     df = pd.read_csv(file)

In [7]:
dataframe = []

In [8]:
for filename in os.listdir(folder):
  if filename.endswith(".csv"):
    file_path = os.path.join(folder, filename)
    df = pd.read_csv(file_path)
    df["block_id"] = str(filename.split('.')[0])
    dataframe.append(df)

In [9]:
concatenated_df = pd.concat(dataframe)
concatenated_df

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min,block_id
0,MAC000002,2012-10-12,0.1385,0.154304,0.886,46,0.196034,7.098,0.000,block_0
1,MAC000002,2012-10-13,0.1800,0.230979,0.933,48,0.192329,11.087,0.076,block_0
2,MAC000002,2012-10-14,0.1580,0.275479,1.085,48,0.274647,13.223,0.070,block_0
3,MAC000002,2012-10-15,0.1310,0.213688,1.164,48,0.224483,10.257,0.070,block_0
4,MAC000002,2012-10-16,0.1450,0.203521,0.991,48,0.184115,9.769,0.087,block_0
...,...,...,...,...,...,...,...,...,...,...
33541,MAC005019,2014-02-24,0.0915,0.091938,0.192,48,0.029466,4.413,0.046,block_99
33542,MAC005019,2014-02-25,0.0735,0.251104,1.455,48,0.369093,12.053,0.029,block_99
33543,MAC005019,2014-02-26,0.0740,0.117604,0.554,48,0.112632,5.645,0.031,block_99
33544,MAC005019,2014-02-27,0.0605,0.086521,0.449,48,0.076162,4.153,0.029,block_99
33545,MAC005019,2014-02-28,0.0740,0.074000,0.074,1,NaN,0.074,0.074,block_99

In [10]:
concatenated_df.to_csv(destination_path + 'Raw_data/concatenated_daily_dataset.csv', index=False)