In [29]:
import pandas as pd

In [30]:
destination_path = 'C:/Users/chiny/cjwen/ITI110/'

In [31]:
df_1_3 = pd.read_csv(destination_path + '1.3 aggregated_daily_dataset_without_block_id_02112024.csv')

In [32]:
df_1_3['date'] = pd.to_datetime(df_1_3['date'], format='%Y-%m-%d', errors='coerce')

In [33]:
df_1_3.head(2)

        date  month  count_LCLid  count_block_id  sum_energy_by_day
0 2011-11-23     11           13               9             90.385
1 2011-11-24     11           25              15            213.412

In [54]:
df_1_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  829 non-null    datetime64[ns]
 1   month                 829 non-null    int64
 2   count_LCLid           829 non-null    int64
 3   count_block_id        829 non-null    int64
 4   sum_energy_by_day     829 non-null    float64
 5   avg_energy_per_lclid  829 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 39.0 KB

In [34]:
df_1_3["avg_energy_per_lclid"]=df_1_3["sum_energy_by_day"]/df_1_3["count_LCLid"]

In [35]:
df_1_3.head(2)

,date,month,count_LCLid,count_block_id,sum_energy_by_day,avg_energy_per_lclid
0,2011-11-23,11,13,9,90.385,6.952692
1,2011-11-24,11,25,15,213.412,8.536480

In [36]:
holidays = pd.read_csv(destination_path + "Raw_data/uk_bank_holidays.csv")

In [37]:
holidays["holiday"]=1

In [38]:
holidays

   Bank holidays                                          Type  holiday
0     2012-12-26                                    Boxing Day        1
1     2012-12-25                                 Christmas Day        1
2     2012-08-27                           Summer bank holiday        1
3     2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)        1
4     2012-04-06          Spring bank holiday (substitute day)        1
5     2012-07-05                        Early May bank holiday        1
6     2012-09-04                                 Easter Monday        1
7     2012-06-04                                   Good Friday        1
8     2012-02-01               New Year?s Day (substitute day)        1
9     2013-12-26                                    Boxing Day        1
10    2013-12-25                                 Christmas Day        1
11    2013-08-26                           Summer bank holiday        1
12    2013-05-27                           Spring bank holiday        1
13    2013-06-05                        Early May bank holiday        1
14    2013-01-04                                 Easter Monday        1
15    2013-03-29                                   Good Friday        1
16    2013-01-01                                New Year?s Day        1
17    2014-12-26                                    Boxing Day        1
18    2014-12-25                                 Christmas Day        1
19    2014-08-25                           Summer bank holiday        1
20    2014-05-26                           Spring bank holiday        1
21    2014-05-05                        Early May bank holiday        1
22    2014-04-21                                 Easter Monday        1
23    2014-04-18                                   Good Friday        1
24    2014-01-01                                New Year?s Day        1

In [39]:
holidays["Bank holidays"] = pd.to_datetime(holidays["Bank holidays"], format='%Y-%m-%d', errors='coerce')

In [40]:
holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bank holidays  25 non-null     datetime64[ns]
 1   Type           25 non-null     object
 2   holiday        25 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 732.0+ bytes

In [41]:
df_1_3_merge_hols = pd.merge(df_1_3, holidays, left_on = "date", right_on = "Bank holidays", how = "left")

In [42]:
df_1_3_merge_hols["holiday"].fillna(0,inplace=True)

In [43]:
df_1_3_merge_hols[df_1_3_merge_hols["date"]== "2013-12-25"]

,date,month,count_LCLid,count_block_id,sum_energy_by_day,avg_energy_per_lclid,Bank holidays,Type,holiday
763,2013-12-25,12,5082,112,63990.164991,12.591532,2013-12-25,Christmas Day,1.0

In [55]:
df_1_3_merge_hols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  829 non-null    datetime64[ns]
 1   month                 829 non-null    int64
 2   count_LCLid           829 non-null    int64
 3   count_block_id        829 non-null    int64
 4   sum_energy_by_day     829 non-null    float64
 5   avg_energy_per_lclid  829 non-null    float64
 6   holiday               829 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 45.5 KB

In [44]:
columns_to_drop = ["Bank holidays", "Type"]
df_1_3_merge_hols.drop(columns=columns_to_drop, axis=1, inplace=True)

In [45]:
weather = pd.read_csv(destination_path + 'Raw_data/weather_daily_darksky.csv')

In [46]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   temperatureMax               882 non-null    float64
 1   temperatureMaxTime           882 non-null    object
 2   windBearing                  882 non-null    int64
 3   icon                         882 non-null    object
 4   dewPoint                     882 non-null    float64
 5   temperatureMinTime           882 non-null    object
 6   cloudCover                   881 non-null    float64
 7   windSpeed                    882 non-null    float64
 8   pressure                     882 non-null    float64
 9   apparentTemperatureMinTime   882 non-null    object
 10  apparentTemperatureHigh      882 non-null    float64
 11  precipType                   882 non-null    object
 12  visibility                   882 non-null    float64
 13  humidity                     882 non-null    float64
 14  apparentTemperatureHighTime  882 non-null    object
 15  apparentTemperatureLow       882 non-null    float64
 16  apparentTemperatureMax       882 non-null    float64
 17  uvIndex                      881 non-null    float64
 18  time                         882 non-null    object
 19  sunsetTime                   882 non-null    object
 20  temperatureLow               882 non-null    float64
 21  temperatureMin               882 non-null    float64
 22  temperatureHigh              882 non-null    float64
 23  sunriseTime                  882 non-null    object
 24  temperatureHighTime          882 non-null    object
 25  uvIndexTime                  881 non-null    object
 26  summary                      882 non-null    object
 27  temperatureLowTime           882 non-null    object
 28  apparentTemperatureMin       882 non-null    float64
 29  apparentTemperatureMaxTime   882 non-null    object
 30  apparentTemperatureLowTime   882 non-null    object
 31  moonPhase                    882 non-null    float64
dtypes: float64(16), int64(1), object(15)
memory usage: 220.6+ KB

In [48]:
weather['time'] = pd.to_datetime(weather['time'], format='%Y-%m-%d', errors='coerce')

In [75]:
weather['day']=weather['time'].dt.date

In [80]:
weather['day'] =  pd.to_datetime(weather['day'], format='%Y-%m-%d', errors='coerce')

In [81]:
df_1_3_merged_df = pd.merge(df_1_3_merge_hols, weather, left_on = "date", right_on = "day", how = "left")

In [84]:
df_1_3_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831 entries, 0 to 830
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         831 non-null    datetime64[ns]
 1   month                        831 non-null    int64
 2   count_LCLid                  831 non-null    int64
 3   count_block_id               831 non-null    int64
 4   sum_energy_by_day            831 non-null    float64
 5   avg_energy_per_lclid         831 non-null    float64
 6   holiday                      831 non-null    float64
 7   temperatureMax               829 non-null    float64
 8   temperatureMaxTime           829 non-null    object
 9   windBearing                  829 non-null    float64
 10  icon                         829 non-null    object
 11  dewPoint                     829 non-null    float64
 12  temperatureMinTime           829 non-null    object
 13  cloudCover                   828 non-null    float64
 14  windSpeed                    829 non-null    float64
 15  pressure                     829 non-null    float64
 16  apparentTemperatureMinTime   829 non-null    object
 17  apparentTemperatureHigh      829 non-null    float64
 18  precipType                   829 non-null    object
 19  visibility                   829 non-null    float64
 20  humidity                     829 non-null    float64
 21  apparentTemperatureHighTime  829 non-null    object
 22  apparentTemperatureLow       829 non-null    float64
 23  apparentTemperatureMax       829 non-null    float64
 24  uvIndex                      828 non-null    float64
 25  time                         829 non-null    datetime64[ns]
 26  sunsetTime                   829 non-null    object
 27  temperatureLow               829 non-null    float64
 28  temperatureMin               829 non-null    float64
 29  temperatureHigh              829 non-null    float64
 30  sunriseTime                  829 non-null    object
 31  temperatureHighTime          829 non-null    object
 32  uvIndexTime                  828 non-null    object
 33  summary                      829 non-null    object
 34  temperatureLowTime           829 non-null    object
 35  apparentTemperatureMin       829 non-null    float64
 36  apparentTemperatureMaxTime   829 non-null    object
 37  apparentTemperatureLowTime   829 non-null    object
 38  moonPhase                    829 non-null    float64
 39  day                          829 non-null    datetime64[ns]
dtypes: datetime64[ns](3), float64(20), int64(3), object(14)
memory usage: 259.8+ KB

In [82]:
null_in_column = df_1_3_merged_df[df_1_3_merged_df['temperatureMax'].isnull()]

In [83]:
null_in_column

,date,month,count_LCLid,count_block_id,sum_energy_by_day,avg_energy_per_lclid,holiday,temperatureMax,temperatureMaxTime,windBearing,...,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase,day
341,2012-10-28,10,5495,112,66554.868000,12.111896,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
706,2013-10-27,10,5171,112,52787.860997,10.208443,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [85]:
df_1_3_merged_df.to_csv(destination_path + '2.3 merged_aggregated_daily_without_block_id.csv', index=False)